<mat-card class="wrap">
  <h1>Login</h1>
  <form class="register_form" [formGroup]="loginForm" (submit)="submit()" >
    <mat-form-field>
      <input required matInput [formControlName]="'name'" type="text" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input required matInput [formControlName]="'password'" type="password" placeholder="Password">
    </mat-form-field>
    <button mat-raised-button [disabled]="loginForm.invalid" color="primary">Sgin in</button>
  </form>
</mat-card>
