<mat-toolbar color="primary">
    <nav>
      <a
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"><mat-icon>home</mat-icon></a>
      <a
        routerLink="/todo"
        routerLinkActive="active"><mat-icon>view_list</mat-icon></a>
      <a
      routerLink="/chat"
      routerLinkActive="active"><mat-icon>chat</mat-icon></a>
    </nav>
    <span class="example-spacer"></span>
    <div *ngIf="nickName; else loggedOut">
      <span>User: {{nickName}} </span>
      <span class="logout" (click)="logout()">Logout</span>
    </div>
    <ng-template #loggedOut>
      <a
         href="/login"
         routerLinkActive="active">Login</a>
      <a
        href="/register"
        routerLinkActive="active">Register</a>
    </ng-template>
</mat-toolbar>


<router-outlet></router-outlet>
